[submodule "OpenUSD"]
	path = OpenUSD
	url = https://github.com/Jerry-Shen0527/OpenUSD.git
[submodule "tbb"]
	path = tbb
	url = https://github.com/wjakob/tbb.git
[submodule "OpenSubdiv"]
	path = OpenSubdiv
	url = https://github.com/PixarAnimationStudios/OpenSubdiv.git
[submodule "openvdb"]
	path = openvdb
	url = https://github.com/AcademySoftwareFoundation/openvdb.git
[submodule "c-blosc"]
	path = c-blosc
	url = https://github.com/Blosc/c-blosc.git
[submodule "zlib"]
	path = zlib
	url = https://github.com/madler/zlib.git
[submodule "MaterialX"]
	path = MaterialX
	url = https://github.com/AcademySoftwareFoundation/MaterialX.git
[submodule "Imath"]
	path = Imath
	url = https://github.com/AcademySoftwareFoundation/Imath.git
